/* --樂團列表-- */
.band_list{
    /* margin-top: 100px; */
    /* margin-left: 150px; */
}

.band_list h1{
    position: relative;
    display: inline-block;
    margin-bottom: 50px;
    font-weight: bold;
    text-shadow: 3px 3px 1px rgba(240, 132, 0, .3);
}

.band_list h1:after{
    content: "";
    width: 300px;
    height: 3px;
    background-color: #000;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    left: 160px;
    margin: auto;

}

.band_list ul{
    width: 1200px;
    display: flex;
    flex-direction: column;
}

.band_list ul li{
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}


.band_list ul li img{
    width: 488px;
    /* flex-shrink: 1; */
}

    /* --1.3項-- */
.band_list ul li span{
    text-align: center;
    width: 490px;
    /* flex-shrink: 3; */
}

.band_list ul li h2{
    line-height: 1.6;
    font-weight: bold;
}

.band_list ul li h3{
    line-height: 1.3;
}

    /* --2.4項-- */

.even img{
    order: 2;
}

.even_span{
    order: 1;
}


/* --more_btn-- */
/* .more_btn{
    position: relative;
    float: right;
    margin: 40px 50px 100px auto;
    overflow: hidden;
    width: 90px;
}
.more_btn:after{
    content: "";
    width: 0;
    height: 0;
    border: 8px solid #000;
    border-color: transparent transparent transparent #000;
    float: left;
    position: absolute;
    top: 4px;
    left: 80px;
} */


/* ---------rwd--------- */
@media (min-width: 1200px) and (max-width: 1399.98px) {
    .band_list ul {
        width: 1000px;
    }
    .band_list ul li img {
        width: 400px;
        object-fit: cover;
        object-position: center;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px){
    .band_list ul {
        width: 900px;
    }
    .band_list ul li img {
        width: 400px;
        object-fit: cover;
        object-position: center;
    }
}

@media (min-width: 768px) and (max-width: 991.98px){
    .band_list ul {
        width: 720px;
    }
    .band_list ul li img {
        width: 350px;
        object-fit: cover;
        object-position: center;
    }
    .band_list ul li span {
        margin: 0 10px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px){
    .band_list ul {
        width: 540px;
    }
    .band_list ul li {
        flex-direction: column;
        /* justify-content: center; */
        flex-basis: 540px;
        align-items: center;
    }
    .band_list ul li img {
        width: 90%;
        object-fit: cover;
        object-position: center;
    }
    .band_list ul li span {
        margin: 20px 0 50px;
    }
    .even img {
        order: 1;
    }
    .even_span {
        order: 2;
    }
}

@media (max-width: 575.98px){
    .band_list h1 {
        margin-left: 5px;
    }
    .band_list ul {
        width: 100%;
    }
    .band_list ul li span h2 {
        font-size: 1.2rem;
    } 
    .band_list ul li span h3 {
        font-size: 1rem;
    }
    .band_list ul li {
        flex-direction: column;
        /* justify-content: center; */
        flex-basis: 90%;
        align-items: center;
    }
    .band_list ul li img {
        width: 90%;
        object-fit: cover;
        object-position: center;
    }
    .band_list ul li span {
        width: 90%;
        margin: 20px 0 50px;
    }
    .even img {
        order: 1;
    }
    .even_span {
        order: 2;
    }

}