/*--輪播圖--*/
.carousel_container{
    width: 1200px;
    margin: auto;
    border: 5px solid pink;
    /* overflow: hidden; */
}

.carousel_slide{
    display: flex;
    width: 100%;
    height: 600px;
}
.carousel_slide img{
    width: 1200px;
}

.slider_btn .la, .slider_btn .ra {
    display: block;
    width: 100px;
    height: 100px;
}

.slider_btn .la:before{
    content: "";
    display: block;
    width: 0;
    height: 0;
    border: 20px solid rgba(255, 255, 255, 1);
    border-color: transparent rgba(255, 255, 255, 1) transparent transparent;
    margin-left: 20px;
    margin-top: 30px;
    /* float: left; */
    opacity: .7;
}

.slider_btn .ra:before{
    content: "";
    display: block;
    width: 0;
    height: 0;
    border: 20px solid rgba(255, 255, 255, 1);
    border-color: transparent  transparent transparent rgba(255, 255, 255, 1);
    margin-left: 40px;
    margin-top: 30px;
    opacity: .7;
}

.slider_btn .la{
    overflow: hidden;
    flex-shrink: 0;
    order: 1;
}

.slider_btn .ra{
    overflow: hidden;
    flex-shrink: 0;
    order: 3;
}

.slider .middle{
    /* order: 2; */
    /* box-shadow: 10px 10px 5px rgba(0, 0, 0, .3);
    font-size: 0; */
}

.slider_point{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.slider_point a{
    display: block;
    width: 15px;
    height: 15px;
    margin-right: 31px;
    margin-top: 20px;
    background-color: #000;
    border-radius: 50%;
}

.slider_point :first-child{
    background-color: #4165AF;
}

.slider_point :not(:first-child){
    background-color: #F08400;
}



/* --精選推薦-- */
.rec{
    /* margin-left: 120px; */
    margin-top: 90px;
}

.rec h1{
    position: relative;
    /* outline: 1px solid pink; */
    display: inline-block;
    margin-bottom: 40px;
    font-weight: bold;
    text-shadow: 3px 3px 1px rgba(240, 132, 0, .3);
}

.rec h1:after{
    content: "";
    background: #000;
    width: 300px;
    height: 3px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    left: 160px;
    margin: auto;
}

.rec ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1200px;
    /* border: 1px solid plum; */
}

.rec ul li{
    /* border: 1px solid blue; */
    flex-basis: 301px;
}

.rec ul li img{
    width: 100%;
    margin-bottom: 55px;
    transition: all .5s;
    /* border: 1px solid yellow; */
}

.rec ul li h2{
    line-height: 36px;
    text-align: center;
    margin-bottom: 60px;
}

.rec ul li img:hover{
    transform: scale(1.3);
}


/* 媒體專訪 */
.intvw{
    /* margin-left: 120px; */
    margin-top: 90px;
    clear: both;
}

.intvw h1{
    position: relative;
    display: inline-block;
    margin-bottom: 40px;
    font-weight: bold;
    text-shadow: 3px 3px 1px rgba(240, 132, 0, .3);
}

.intvw h1:after{
    content: "";
    background: #000;
    width: 300px;
    height: 3px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    left: 160px;
    margin: auto;
}

.intvw ul{
    /* border: 1px solid springgreen; */
    display: flex;
    width: 1200px;
    justify-content: space-between;
}

.intvw a{
    text-decoration: none;
    flex-basis: 340px;
    /* border: 1px solid pink; */
    display: inline-flex;
    flex-direction: column;
}


.intvw img{
    width: 100%;
    margin-bottom: 40px;
    /* border: 1px solid rgb(40, 25, 175); */
}

.intvw ul a h2{
    /* border: 1px solid brown; */
    margin-bottom: 40px;
    line-height: 24px;
    align-self: center;
    color: #000;
}

.more_btn{
    position: relative;
    /* border: 1px solid pink; */
    float: right;
    margin: 40px 50px 100px auto;
    overflow: hidden;
    width: 90px;
}

.more_btn:after{
    content: "";
    width: 0;
    height: 0;
    /* background-color: yellow; */
    border: 8px solid #000;
    border-color: transparent transparent transparent #000;
    float: left;
    position: absolute;
    top: 4px;
    left: 80px;
}

