/* --加入會員/會員登入-- */
.membership{
    margin-top: 100px;
    margin-left: 150px;
}



.membership h1{
    position: relative;
    display: inline-block;
    font-weight: bold;
    text-shadow: 3px 3px 1px rgba(240, 132, 0, .3);
}

.membership h1:after{
    content: "";
    width: 300px;
    height: 3px;
    background-color: #000;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    left: 320px;
    margin: auto;
}


/* --下方區塊-- */
.membership section{
    margin-top: 40px;
    width: 1200px;
}


.membership ul{
    margin-top: 80px;
    text-align: center;
    flex-direction: column;
}

.membership ul li{
    margin: 10px 0;
    display: block;
    /* border: 1px solid red; */
}

.membership ul li h2{
    font-weight: bold;
}

.typearea {
    border: .5px solid orange;
    padding: 5px;
    outline: 0;
    margin: 10px 0;
}

.keep_login {
    text-align: left;
}

.membership ul li:nth-child(4), .membership ul li:nth-child(5){
    display: inline-block;
    padding-right: 30px;
}

.membership ul li a {
    text-decoration: none;
}

.membership ul li a:hover {
    opacity: .7;
}
.membership ul li a:visited {
    color: #4B84B7;
}

.login {
    background-color: #f89422;
    width: 200px;
    height: 30px;
    /* outline: 0; */
    box-shadow: 3px 3px 3px #F08400;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    font-size: large;
}

.login:hover {
    opacity: .7;
}

/* ---------rwd---------
@media (min-width: 1200px) and (max-width: 1399.98px) {
    .membership h1 {
        text-align: center;;
    }
} */