@import url(reset.css);
*{
    box-sizing: border-box;
}
h1{
    font-size: 36px;
}
h2{
    font-size: 24px;
}
h3{
    font-size: 16px;
}

/* --全站排行-- */
.list{
    margin-top: 90px;
    margin-left: 120px;
}

.list h1{
    position: relative;
    display: inline-block;
}

.list>h1:after{
    content: "";
    width: 300px;
    height: 3px;
    background-color: #000;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    left: 160px;
    margin: auto;
}

.list .chart{
    /* border: 2px solid pink; */
    width: 1200px;
    margin-top: 50px;
}

.list .chart tr{
    /* border: 1px solid red; */
}

.list .chart tr td{
    /* border: 1px solid tan; */
    vertical-align: middle;
    height: 200px;
}

.list .chart tr .no{
    text-align: center;
    width: 150px;
}

.list .chart tr .pic{
    width: 300px;
    text-align: center;
}

.list .chart tr .pic img{
    width: 150px;
}

.list .chart tr .name{
    font-weight: bold;
    justify-content: center;
}

.list .chart tr .icon{
    font-size: 50px;
}


.more_btn{
    position: relative;
    /* border: 1px solid pink; */
    float: right;
    margin: 40px 50px 100px auto;
    overflow: hidden;
    width: 90px;
}
.more_btn:after{
    content: "";
    width: 0;
    height: 0;
    /* background-color: yellow; */
    border: 8px solid #000;
    border-color: transparent transparent transparent #000;
    float: left;
    position: absolute;
    top: 4px;
    left: 80px;
}