/* --專輯發行-- */
.new_album{
    margin-top: 90px;
    margin-left: 120px;
}

.new_album h1{
    /* outline: 1px solid red; */
    position: relative;
    display: inline-block;
    margin-bottom: 40px;
    font-weight: bold;
    text-shadow: 3px 3px 1px rgba(240, 132, 0, .3);
}

.new_album h1:after{
    content: "";
    width: 300px;
    height: 3px;
    background-color: #000;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    left: 160px;
    margin: auto;
}

.new_album ul{
    /* border: 1px solid green; */
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.new_album ul li{
    /* outline: 1px solid red; */
    flex-basis: 301px;
}

.new_album ul li img{
    width: 90%;
    margin-bottom: 15px;
    cursor: pointer;
    transition: all .5s;

}
.new_album ul li img:hover{
    transform: scale(1.1);
    opacity: .7;
    border-bottom: 3px solid white;
    padding-bottom: 5px;

}

.new_album ul li a{
    display: inline-block;
    text-align: center;
}


.new_album ul li h2{
    line-height: 36px;
    text-align: center;
    margin-bottom: 60px;
}

/* --新歌發行-- */
.new_song{
    margin-top: 90px;
    margin-left: 120px;
    /* padding: 10px; */
}

.new_song h1{
    position: relative;
    display: inline-block;
    font-weight: bold;
    text-shadow: 3px 3px 1px rgba(240, 132, 0, .3);
}

.new_song h1:after{
    content: "";
    width: 300px;
    height: 3px;
    background-color: #000;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    left: 160px;
    margin: auto;
}

.new_song table{
    width: 1200px;
    /* margin: 0 auto; */
    /* border: 1px solid #000; */
    border-collapse: collapse;
    /* border: none; */
}

.new_song tr{}

.new_song td{
    /* border: 1px solid grey; */
    height: 100px;
    vertical-align: middle;
}

.new_song table tr td img{
    width: 100px;
}

.new_song .pic{
    width: 150px;
    height: 200px;
    font-size: 0;
}

.new_song .name{
    font-size: 24px;
    text-align: center;
    font-weight: bold;
}

.new_song .icon{
    font-size: 50px;
}


/* .more_btn{
    position: relative;
    float: right;
    margin: 40px 50px 100px auto;
    overflow: hidden;
    width: 90px;
}
.more_btn:after{
    content: "";
    width: 0;
    height: 0;
    border: 8px solid #000;
    border-color: transparent transparent transparent #000;
    float: left;
    position: absolute;
    top: 4px;
    left: 80px;
} */

/* ---------rwd--------- */
@media (min-width: 1200px) and (max-width: 1399.98px) {
    .new_album ul {
        width: 1100px;
    }
    /* .live {
        width: 1100px;
    } */
}

@media (min-width: 992px) and (max-width: 1199.98px){
    .new_album ul {
        width: 900px;
    }
    .new_album ul li {
        flex-basis: 250px;
    }

    /* .live {
        width: 900px;
    } */
}

@media (min-width: 768px) and (max-width: 991.98px){
    .new_album ul {
        width: 720px;
    }
    .new_album ul li {
        flex-basis: 200px;
    }
    .new_album ul li h2 {
        font-size: 1.2rem;
    }

    /* .live {
        width: 720px;
    } */
}

@media (min-width: 576px) and (max-width: 767.98px){
    .new_album ul {
        width: 540px;
    }
    .new_album ul li {
        flex-basis: 200px;
    }
    .new_album ul li h2 {
        font-size: 1rem;
    }

    /* .live {
        width: 540px;
    } */

}

@media (max-width: 575.98px){
    .new_album ul {
        width: 100%;
    }
    .new_album ul li {
        flex-basis: 200px;
    }
    .new_album ul li h2 {
        font-size: 1rem;
    }

}

/*-------- iframe rwd -------*/
.live{
    /* border: 1px solid red; */
    font-size: 0;
    width: 100%;
    padding-top: calc(100% * 9 / 16);
    position: relative;
  }
  .live iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }