/* --標題與說明文字-- */
.title{
    /* margin-top: 100px;
    margin-left: 150px; */
    background-color: #FFD45D;
    padding: 100px 0 0 150px;
}

.title h1{
    margin-bottom: 40px;
    font-weight: bold;
    font-weight: bold;
    text-shadow: 3px 3px 1px rgba(240, 132, 0, .3);
}

.title h2{
    padding-bottom: 100px; 
}

/* --經典弛放-- */
.classic{
    margin-top: 100px;
    margin-left: 120px;
}

.classic h1{
    position: relative;
    display: inline-block;
    margin-bottom: 50px;
    font-weight: bold;
    text-shadow: 3px 3px 1px rgba(240, 132, 0, .3);
}

.classic h1:after{
    content: "";
    width: 300px;
    height: 3px;
    background-color: #000;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    left: 160px;
    margin: auto;
}

.classic ul{
    margin-left: 80px;
    /* outline: 1px solid red; */
    display: flex;
    width: 1050px;
    justify-content: space-between;
}

.classic ul li{
    flex-basis: 250px;
}

.classic ul li img{
    width: 100%;
    height: 250px;
    margin-bottom: 40px;
}

.classic ul li h2, .classic ul li h3{
    text-align: center;

}

.classic ul li h3{
    line-height: 1.5;
}

/* --搖滾現場-- */
.rock{
    margin-top: 100px;
    margin-left: 120px;
}

.rock h1{
    position: relative;
    display: inline-block;
    margin-bottom: 50px;
    font-weight: bold;
    text-shadow: 3px 3px 1px rgba(240, 132, 0, .3);
}

.rock h1:after{
    content: "";
    width: 300px;
    height: 3px;
    background-color: #000;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    left: 160px;
    margin: auto;
}

.rock ul{
    margin-left: 80px;
    /* outline: 1px solid red; */
    display: flex;
    width: 1050px;
    justify-content: space-between;
}

.rock ul li{
    flex-basis: 250px;
}

.rock ul li img{
    width: 100%;
    height: 250px;
    margin-bottom: 40px;
}

.rock ul li h2, .rock ul li h3{
    text-align: center;

}

.rock ul li h3{
    line-height: 1.5;
}


